# Console

snippet cl "Console log" b
console.log(${1});
endsnippet

snippet cld "Console log with description" b
console.log("$1", ${1});
endsnippet


snippet ctl "Console log (Reactotron)" b
console.tron.log(${1});
endsnippet

snippet ctld "Console log with description (Reactotron)" b
console.tron.log("$1", ${1});
endsnippet

# Arrow functions
